#btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 1px solid #3498db;
    border-radius: 0.6em;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1em 2em;
    &:hover,
    &:focus{
        background-color: rgb(243, 246, 248, 0.7)
    }
}

#btn-op {
    color: #3498db;
}

.app2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}