#btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 1px solid #e74c3c;
    border-radius: 0.6em;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1em 2em;
}

#btn-op {
    color: #e74c3c;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(232, 183, 172);
    margin: 15px;
}

.host {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(222, 165, 43);
    margin: 15px;
    width: 50%;
}