#btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 1px solid #2ecc71;
    border-radius: 0.6em;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1em 2em;
}

#btn-op {
    color: #2ecc71;
}
.app1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}